/* custom theme colors - use if needed */
/*
  :root {
    --color-primary: #fff;
    --color-secondary: #000000;
  }
*/

body {
  color: theme('colors.black');
  background-color: theme('colors.gray.200');
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* combination of Normalize.css and some additional base styles */
@tailwind base;

/* reusable styles like cards and form elements, etc */
@tailwind components;

/* all tailwind utilities */
@tailwind utilities;
